
#terms {
       margin: 0px 7%;
       
}
h1{
   text-align: center;
  
}
#terms >h3,li{
   font-family: sans-serif;
   font-weight: 600;
}
#terms >p{
   line-height: 25px;
   font: 16px sans-serif;
   margin: 1px 40px;
}
#terms > #back,button{
   text-decoration: none;
   padding: 10px 20px;
   border-radius: 10px;
   font-weight: 600;
   color: #fff;
   
}
#terms >button {
   margin-left: 35%;
   border: none;
   
}
#terms >#back{
   color: #fff;
}

#terms >input{
   display:inline-block;
}
.footer,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.footer-list, .social-list { list-style: none; }
a {
text-decoration: none;
color: inherit;
}
a,
svg,
data,
span,
button,
ion-icon { display: block; }
img { height: auto; }
button {
background: none;
border: none;
font: inherit;
cursor: pointer;
}
ion-icon { pointer-events: none; }
address { font-style: normal; }
table { border-collapse: collapse; }
html {
font-family: sans-serif;
font-size: 10px;
scroll-behavior: smooth;
}
body {
background-color: #2b2626;
color: #fff;
font-size: 1.6rem;
line-height: 1.4;
}
.footer-top {
background-color: #2e2f33;
padding-block: 80px 50px;
}
.footer-top .container {
display: grid;
grid-template-columns: repeat(2,4fr);
margin: 30px 100px;
gap: 50px;
}
@media (min-width:800px){
   .footer-top .container {
      grid-template-columns: repeat(4, 2fr);
   }
}
.footer .logo { font-size: 3rem; }
.footer-title {
color:  #ffffff;
font-size: 2.4rem;
margin-block: 25px 20px;
}
.footer-contact-link:not(:last-child) { margin-block-end: 12px; }
address.footer-contact-link { max-width: 30ch; }
.footer-list-title {
color: #fff;
font-size: 1.4rem;
font-weight:700;
text-transform: uppercase;
letter-spacing: 1px;
}
.footer-list > li:not(:last-child) { margin-block-end: 10px; }
.footer-list > li:first-child { margin-block-end: 20px; }
.footer-link {
color:#fcfcfcbe;
transition:  0.25s ease;
}
.footer-link:is(:hover, :focus) { color: #02bb0e; }
.footer-bottom {
background-color: #2b2626;
padding-block: 20px;
}